{{ $c := "c-induvidual-product"}}

<section class="{{ $c }}" >
    <div class="{{ $c }}__container">
        <div class="{{ $c }}__product_image">
            <img src="{{ .image.image_path }}" alt="{{ .image.image_alt }}"/>
        </div>
        <div class="{{ $c}}__product_details">
            <h2 class="{{ $c }}__product_details__title"> {{ .title }} </h2>
            <p class="{{ $c }}__product_description"> {{ .description }} </p>
        </div>
        {{ end }}    
    </div>
</section>